@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #4b93f8;
    --background-color: #ffffff;
    --header-height: 100px;
    --header-radius: 30px;
    --calendar-width: 80%;
    --calendar-max-width: 800px;
}


.header {
    background-color: var(--background-color);
    width: 100%;
    max-width: 1083px;
    height: var(--header-height);
    border-bottom-left-radius: var(--header-radius);
    border-bottom-right-radius: var(--header-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header .event-text {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header .arrow {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: 20px;
    cursor: pointer;
    top: 25px
}

.calendar {
    margin-top: 120px;
    width: var(--calendar-width);
    max-width: var(--calendar-max-width);
    background-color: var(--background-color);
    box-shadow: none;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    position: relative;
    height: calc(100vh - var(--header-height) - 60px); 
    overflow-y: hidden;
    border: none;
}

.fc .fc-toolbar-title {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
}

.fc .fc-daygrid-day-number,
.fc .fc-daygrid-day-top,
.fc .fc-col-header-cell-cushion {
    color: var(--primary-color);
}

.fc .fc-daygrid-day-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    padding: 0px;
}

.fc .fc-day-other .fc-daygrid-day-number {
    color: rgba(0, 0, 0, 0.5);
}

.fc .fc-col-header-cell-cushion {
    text-transform: capitalize;
}

.fc .fc-col-header-cell-cushion::after {
    content: '';
}

.fc-daygrid-day {
    width: 14.28%;
    box-sizing: border-box;
    padding: 2px;
    margin: 0;
    height: calc((100vh - var(--header-height) - 60px) / 6 - 40px);
}

.fc-daygrid-row {
    border: none;
    margin: 0;
    padding: 0;
}

.fc-daygrid {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.fc .fc-daygrid-day-frame {
    padding: 0;
    margin: 0;
    height: 100%;
}

.fc {
    border: none !important;
}

.fc table {
    border: none !important;
    width: 100%;
}

.fc-daygrid td, .fc-daygrid th {
    border: none !important;
}

.fc .fc-daygrid-day {
    border: none !important;
}

.fc .fc-col-header-cell {
    border: none !important;
    padding-bottom: 10px;
}

.fc-daygrid-day-frame {
    border: none !important;
    background-color: var(--background-color);
}

.custom-arrow {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 12px;
    transform: translateY(0);
}

.custom-prev {
    left: 10px;
}

.custom-next {
    right: 10px;
}

/* Estilos para os retângulos */
.rectangle-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    position: relative;
}

.rectangle-large {
    background-color: transparent;
    padding: 15px;
    width: 350px;
    height: 28px; /* Ajustei a altura para acomodar o retângulo menor dentro dele */
    text-align: center;
    border: 2px solid #4b93f8;
    border-radius: 10px;
    color: #4b93f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px; /* Espaço entre o retângulo menor e maior */
}

.rectangle-small {
    background-color: #4b93f8;
    padding: 10px 15px;
    width: 70px; /* Largura reduzida do retângulo menor */
    height: 40px;  /* Altura do retângulo menor */
    text-align: center;
    border-radius: 10px;
    color: #fadf1a;
    position: absolute;
    top: 20px; /* Ajustei para que o retângulo menor se posicione um pouco mais abaixo, encaixando no retângulo maior */
    left: 10px; /* Posição do retângulo menor à esquerda do retângulo maior */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rectangle-small .today-text {
    font-size: 14px; /* Tamanho menor para o "Hoje" */
    font-weight: bold; /* Fonte normal para o "Hoje" */
}

.rectangle-small .day-number {
    font-size: 30px; /* Tamanho maior para o número do dia */
    font-weight: bold;
}

/* Estilo para a hora */
.time-container {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Pequeno espaçamento à esquerda */
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    padding-left: 10px; /* Espaçamento extra */
}

/* Ajustes para o modo mobile */
@media (max-width: 480px) {
    .header {
        height: 80px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0 10px;
    }

    .header .event-text {
        font-size: 16px;
    }

    .calendar {
        padding: 5px;
        height: 400px;
        overflow-y: hidden;
        width: 100%;
        max-width: 100%;
    }

    .fc .fc-toolbar-title {
        font-size: 18px;
        margin-top: 10px;
    }

    .fc .fc-daygrid-day-number, .fc .fc-daygrid-day-top, .fc .fc-col-header-cell-cushion {
        font-size: 12px;
    }

    .fc-daygrid-day {
        height: 14vw;
    }

    .custom-arrow {
        top: 16px;
    }
}


img.bottom-image {
    width: 100%;
}

div#calendar {
    height: 500px;
}

span#time-text {
    font-size: 24px;
    font-weight: 600;
}


table.fc-scrollgrid-sync-table {
    width: 460px !important;
}

.fc-scroller {
display: flex;
align-items: center;
justify-content: center;
}


@media (max-width: 480px) {
.header .event-text {
    font-size: 20px;
    font-weight: 500;
}
}

.fc-daygrid-day-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

a#fc-dom-50 {
    background-color: #4b93f8;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    color: white;
}

